@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --BGCOLOR:#333;
    --COLOR:#fff;
}

html{
    font-family: 'Nunito' , sans-serif;
    font-size: 1.5rem;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header{
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
}