body{
    padding:150px;
    font-size: 1.5rem;
}

p{
    line-height: 2.5rem;
}

a{
  
    color: #000;
}

a:visited{
    color: purple;
}

a:hover, a:focus{
    color: aqua;
    background-color: goldenrod;
}       

a:active{
    color: red;
}